.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 450px;
  background-color: #ecf7f4;  

  h1 {
    margin-bottom: 50px;
  }
  .membersContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  @media (max-width: 768px) {
    .membersContainer {
      flex-wrap: wrap;
      width: 100vw;
      justify-content: center;
    }
  }
}
