.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem 0;

  .gluedChilds {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}

.submitButton {
  display: flex;
  width: 280px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #ff8a44 solid 1px;
  border-radius: 268.657px;
  background: var(--Primary-Colors-Highlight-color, #ff8a44);
  color: white;
  font-size: 14px;
}

.submitButton:active {
  background: white;
  color: #ff8a44;
}
.submitButton:disabled {
  opacity: 0.5;
  &:active {
    background-color: #ff8a44;
    color: white;
  }
}

.forgotPasswordText {
  color: #1b1b2e;
  text-align: center;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
