.header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 90px;
    border-bottom: 2px solid #C0C0C0;

    .links {
      a {
        font-size: 20px;
        margin-right: 40px;
      }
    }
  }

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;

    > div {
      position: relative;

      > svg {
        position: absolute;

        &:first-of-type {
          top: -200px;
          left: -60px;
        }

        &:last-of-type {
          bottom: -80px;
          right: -100px;
        }
      }

      h1 {
        font-size: 50px;
        font-weight: normal;
        letter-spacing: 2px;
        margin-bottom: 30px;

        strong {
          font-weight: bold;
        }
      }
    }

    img {
      display: block;
      width: 740px;
      height: 700px;
    }
  }
}
