.popup {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: max-content;
  padding: 20px;
  background: white;
  border: 2px solid rgba(128, 128, 128, 0.1);
  border-radius: 15px;

  .closeButton {
    display: block;
    margin-left: auto;
  }

  form {
    div {
      label {
        display: inline-block;
        padding: 10px 20px;
      }
    }

    input[type=submit] {
      display: block;
      width: 100%;
      font-size: medium;
    }
  }
}
