.navbar {
  display: block;
  position: fixed;
  background: white;
  padding: 0 30px;
  border-radius: 50px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: var(--shadow);
  z-index: 50;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

    a {
      width: max-content;
      height: max-content;

      li {
        list-style: none;
      }
    }
  }
}
