.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);

  h2 {
    text-align: center;
  }

  p {
    font-family: var(--font-open-sans), sans-serif;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 450px;
    min-height: 800px;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    z-index: 200;

    .heading {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .indicator {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      width: 220px;
      height: 8px;
      margin: 20px auto;

      span {
        display: block;
        width: 70px;
        height: 8px;
        background: #9fb7b8;
        border-radius: 50px;

        &.currentSlide {
          background: #00747a;
        }
      }
    }

    .list {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    .knowledges {
      text-align: center;
      background: url('/illustrations/onboarding/knowledges-graphics.svg');
      background-size: 100% 100%;

      p {
        width: 75%;
        margin: 40px auto;
        padding-top: 40px;
        font-size: 18px;
      }
    }

    input[type='submit'] {
      display: block;
      margin: 40px auto;
      background: var(--secondary);
      color: white;
      width: 80%;
      padding: 10px 30px;
      border-radius: 100px;
      font-size: 1.3rem;
      font-weight: bold;
      border: 2px solid transparent;
      transition: all 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        width: 90%;
      }
    }

    .skipButtonContainer {
      width: max-content;
      display: flex;
      gap: 10px;
      opacity: 0.6;

      .skipButton {
        background: none;
        border: none;
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
