.previewContainer {
  text-align: center;

  h4 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .mapContainer {
    display: block;
    position: relative;
    width: max-content;
    height: max-content;
    margin-bottom: 55px;

    a {
      display: block;
      position: relative;
      width: max-content;
      height: max-content;
    }

    .filters {
      position: absolute;
      width: max-content;
      height: max-content;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      display: flex;
      justify-content: space-between;
      gap: 15px;
      flex-wrap: nowrap;
      padding: 15px 10px;
      border-radius: 15px;
      background: white;
      box-shadow: var(--shadow);

      .filter:hover {
        cursor: pointer;
      }
    }
  }

  .recommendations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    > p {
      font-family: var(--font-kodchasan);
      font-size: 14px;
    }
  }
}
